<mat-card class="container">
    <h2 class="section-title">Opret en ny historie</h2>

    <div class="form-row main-input">
        <mat-form-field appearance="outline" class="lix-field">
            <mat-label>Vælg LIX-niveau</mat-label>
            <mat-select [disabled]="loading" [(ngModel)]="selectedLix">
                <mat-option *ngFor="let lix of lixService.lixLevels" [value]="lix.level">
                    {{ lix.description }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="text-field">
            <mat-label>Indtast specifikt emne</mat-label>
            <input matInput [(ngModel)]="inputTopic" placeholder="Fx Ronaldo, The Beatles, Romerriget eller Einstein" [disabled]="loading">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="generateStory()" [disabled]="loading || !inputTopic || !selectedLix">
            Opret Historie
        </button>
    </div>

    <!-- Avanceret Sektion -->
    <div class="advanced-section">
        <button mat-button [disabled]="loading" (click)="toggleAdvanced()" class="advanced-toggle">
            Avanceret <mat-icon>{{ advancedOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
        </button>

        <div *ngIf="advancedOpen" class="advanced-options">
            <mat-form-field appearance="outline" class="advanced-field">
                <mat-label>Antal kapitler</mat-label>
                <mat-select [disabled]="loading" [(ngModel)]="numberOfChapter">
                    <mat-option value="auto">Auto (ud fra LIX-niveau)</mat-option>
                    <mat-option *ngFor="let num of [].constructor(20); let i = index" [value]="i + 1">{{ i + 1 }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="advanced-field">
                <mat-label>Antal ord pr. kapitel</mat-label>
                <mat-select [disabled]="loading" [(ngModel)]="wordsPerChapter">
                    <mat-option value="auto">Auto (ud fra LIX-niveau)</mat-option>
                    <mat-option value="500">500 ord</mat-option>
                    <mat-option value="700">700 ord</mat-option>
                    <mat-option value="900">900 ord</mat-option>
                    <mat-option value="1200">1200 ord</mat-option>
                    <mat-option value="1500">1500 ord</mat-option>
                    <mat-option value="2000">2000 ord</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="advanced-field">
                <mat-label>Billeder pr. Kapitel</mat-label>
                <mat-select [disabled]="loading" [(ngModel)]="imagesPerChapter">
                    <mat-option value="auto">Auto</mat-option>
                    <mat-option *ngFor="let num of [].constructor(21); let i = index" [value]="i">
                        {{ i }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <!-- <div class="button-group">
        <button mat-raised-button color="primary" (click)="generateStory()" [disabled]="loading || !inputTopic || !selectedLix">
            Opret Historie
        </button>
    </div> -->

    @if(loading || cancelComplete) {
    <mat-card class="progress-container">
        <app-progress-tracker [description]="progressDescription" [totalTasks]="totalTasks"
            [completedTasks]="progressCompletedTasks" [isCanceling]="canceled" [isCanceled]="cancelComplete"
            (cancel)="cancelGeneration()">
        </app-progress-tracker>
    </mat-card>
    }

    @if(!loading && this.totalTasks > 0 && progressCompletedTasks >= this.totalTasks) {
    <mat-card class="story-box">
        <div class="message-container">
            <p>
                Historien er lavet og kan findes under
                <span class="link" (click)="navigateToGenerated.emit(); $event.preventDefault();">Mine Historier</span>.
            </p>
        </div>
    </mat-card>
    }
</mat-card>
