<mat-card class="quiz-container">
    <h2>Quiz: Test din viden</h2>
    <div *ngFor="let question of quiz.questions; let i = index">
        <p><strong>{{ i + 1 }}. {{ question.text }}</strong></p>
        <mat-radio-group [(ngModel)]="userAnswers[i]">
            <mat-radio-button *ngFor="let option of question.options" [value]="option">
                {{ option }}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <button mat-raised-button color="primary" (click)="submitQuiz()">Afslut Quiz</button>
    <p *ngIf="quizCompleted">Du fik {{ correctAnswers }} / {{ quiz.questions.length }} rigtige!</p>
</mat-card>