<div class="container">
  <app-login *ngIf="!user"></app-login>

  <div class="header" *ngIf="user">
    <h1 class="title">Story Maker</h1>

    <div class="profile-info" *ngIf="user">
      <span class="username">{{ user.displayName || user.email }}</span>
      <img *ngIf="user.photoURL" [src]="user.photoURL" class="profile-pic">
      <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </div>
  </div>

  <div class="content" *ngIf="user">
    <mat-tab-group #tabs [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
      <mat-tab label="Opret Historie">
        <app-story [user]="user" (navigateToGenerated)="switchToGeneratedStories()"></app-story>
      </mat-tab>

      <mat-tab label="Mine Historier">
        <app-generated-stories [user]="user"></app-generated-stories>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>