<div class="container">
  <app-login *ngIf="!user"></app-login>

  <div class="header" *ngIf="user">
    <h1 class="title">Story Maker</h1>

    <div class="profile-info" *ngIf="user">
      <span class="username">{{ user.displayName || user.email }}</span>
      <img *ngIf="user.photoURL" [src]="user.photoURL" class="profile-pic">
      <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </div>
  </div>

  <div class="content" *ngIf="user">
    <app-story *ngIf="user && !showSavedStories" [user]="user"></app-story>
  </div>
</div>